.IMAGEN{
background-image: url(https://static.platzi.com/media/user_upload/capturanotfoundreact-50c9fe6d-70b5-4773-9aa5-22c0bdb8db45.jpg);
background-repeat: no-repeat;
background-position: bottom;
width: 100%;
height: 50em;


}